.menu{
    width: 100%;
    overflow: hidden;
    position: sticky;
    z-index: 100;
}
.menu #a3{
    background-color: rgb(230, 228, 228);
    color: #2999ad;
    text-decoration: none;
    float: left;
    height: 30px;
    width: 16.66666%;
    text-align: center;
    padding-top: 12px;
}